<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel='stylesheet' href='/stylesheets/adminhome.css'/>
    <title>Document</title>
    <style>
            li a{
                    text-decoration: none;
                    color: white;
            }
    </style>
</head>
<body>
    <div class="nav">
            <ul>
                <li>Home</li>
                <li><a href="/admin/addProduct">Add product</a></li>
                <li>View Orders</li>
                <li>View Products</li>
                <li>View Users</li>
            </ul>
    </div>
</body>
</html>