
<div class="login-page">
  <div class="form">

    <form action="/login" method="post" class="login-form">
      <input type="text" placeholder="username" name="email"/>
      <input type="password" placeholder="password" name="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
      <p class="message">Back to home<a href="/">Home</a></p>
    </form>
  </div>
</div>