.nav{
  width: 100%;
  height: 90px;
  background-color: black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.nav ul{
  color: white;
  padding: 16px;
  list-style-type: none;
}
.nav li{
  display: inline;
    padding: 20px;
    font-size: 20px;
    font-style: bold;
}
.sideBar{
  margin-top: 20px;
  height: 400px;
  width: 270px;
  margin-left: 10px;
  background-color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.contents{
  width: 670px;
  height: 450px;
  background-color: whitesmoke;
  border: 1px solid black;
  position: absolute;
  margin-left: 30%;
  margin-top:3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  padding: 30px;
}
.TopRow{
  display: flex;
}
.Box1{
  margin-left: 10%;
  width: 270px;
  height: 170px;
  gap: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: white;
  border: 1px solid black;
}
.BottmRow{
  display: flex;
  margin-top: 5%;
}
.sideBar  h3{
  color: white;
}
.sideBar ul{
  color: white;
  list-style-type: none;
  font-size: 30px;
}
.sideBar li{
  color: white;
  list-style-type: none;
  font-size: 20px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}